<div class="sidebar-wrapper">
  <div class="logo">
    <a class="simple-text">
      <div class="logo-img">
        <img src="../../assets/img/angular2-logo.png" alt="">
      </div>
      Workflow
    </a>
  </div>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" routerLink="home">
        <i class="ti-home"></i>
        <p>Home</p>
      </a>
    </li>

    <!-- <li>
      <a class="nav-link" routerLink="flights">
        <i class="ti-arrow-top-right"></i>
        <p>Flights</p>
      </a>
    </li> -->
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/user/show']" routerLinkActive="router-link-active" >
        <i class="ti-user"></i>
        <p>Users</p>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/process/show']" routerLinkActive="router-link-active" >
        <i class="ti-book"></i>
        <p>Process</p>
      </a>
    </li>

    <!--
    <li>
        <a routerLink="passenger-search">
            <i class="ti-user"></i>
            <p>Passengers</p>
        </a>
    </li>
-->


    <!--
        <li routerLinkActive="active">
        <a>
            <i class="ti-close"></i>
            <p>Hide Basket</p>
        </a>
        </li>
    -->

  </ul>
</div>
