<ol class="breadcrumb float-right">
  <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
  <li class="breadcrumb-item active">Flight</li>
</ol>
<div class="card">
  <!-- <div class="header">
      <h2 class="title">Flight List</h2>
    </div> -->
  <div class="content">
    <!-- <form #f="ngForm"> -->

      <!-- <div class="form-group">
          <label for="from">From:</label>
          <input [(ngModel)]="filter.from" id="from" name="from" class="form-control">
        </div> -->

      <!-- <div class="form-group">
          <label for="to">To:</label>
          <input [(ngModel)]="filter.to" id="sideto" name="to" class="form-control">
        </div> -->

      <!-- <button (click)="search()" [disabled]="!f?.valid" class="btn btn-primary">Search</button> -->
      <a [routerLink]="['/user/add']" routerLinkActive="router-link-active" class="btn btn-default">New</a>
      <a [routerLink]="['/process/add']" routerLinkActive="router-link-active" class="btn btn-default">add process</a>
      <a [routerLink]="['/process/assign']" routerLinkActive="router-link-active" class="btn btn-default">assign process to user</a>
    <!-- </form> -->
  </div>
</div>
<div class="card" *ngIf="(users$ | async)?.length > 0">
  <div *ngIf="feedback" class="alert alert-{{feedback.type}}">{{ feedback.message }}</div>
  <div class="table-responsive">
    <table class="table table-centered table-hover mb-0" id="datatable">
      <thead>
        <tr>
          <th class="border-top-0" scope="col">Id</th>
          <th class="border-top-0" scope="col">Name</th>
          <th class="border-top-0" scope="col">Role</th>
          <th class="border-top-0" scope="col">Email</th>
          <th class="border-top-0" scope="col">Assigned process</th>
          <th class="border-top-0" scope="col" style="width:120px"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of (users$ | async)" [class.active]="item === selectedFlight">
<!-- {{item |json}} -->
          <td>{{item?.id}}</td>
          <td>{{item?.name}}</td>
          <td>{{item?.role}}</td>
          <td>{{item?.email }}</td>
          <td>{{item?.process }}</td>
          <td style="white-space: nowrap">
            <a [routerLink]="['/user/edit/' + item.id ]" class="btn btn-secondary">Edit</a>&nbsp;
            <button (click)="delete(item.id)" class="btn btn-danger">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>